<main>
  <h1 class="welcomeMessage sidePadding"><span
      data-language-key="welcome"
    >Welcome back</span>
    {{user}}</h1>
  <div class="uploadPostContainer sidePadding">
    <label for="postText" data-language-key="caption">Caption</label>
    <input type="text" name="postText" required />
    <button
      type="submit"
      class="submitButton"
      data-btn-action="upload"
      data-language-key="uploadPost"
    >Upload post</button>
  </div>

  <div class="postContainer">
    <h2 class="sidePadding" data-language-key="recentPosts">Recent posts</h2>
    {{#each posts}}
      <div class="post">
        <div class="content">
          <span><strong>{{this.user}}: </strong></span>
          <span>{{text}}</span>
        </div>

        <div class="actions topPadding">
          <button
            type="submit"
            class="actionButton"
            data-btn-action="edit"
            data-context="{{id}}"
            data-language-key="editPost"
          >Edit post</button>
          <button
            type="submit"
            class="actionButton"
            data-btn-action="delete"
            data-context="{{id}}"
            data-language-key="deletePost"
          >Delete post</button>
        </div>
      </div>
    {{/each}}
  </div>

  <div class="logoutContainer sidePadding topPadding">
    <span class="bottomPadding" data-language-key="endOfPosts">End of posts</span>
    <button
      id="logoutBtn"
      data-post-url="/users/logout"
      data-btn-action="logout"
      data-language-key="logout"
    >Log out</button>
  </div>
</main>